header{
  background-color: darkorange;
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 20px;
}

footer{
  background-color: darkorange;
  color: black;
  font-weight: lighter;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.router-outlet{
  height: 81.9vh;
}

header > h1{
  margin: 0;
}
